# Token de autenticação dos agentes (use: openssl rand -hex 32)
API_TOKEN=318c2e7e6eb3bb3a5d00955b7041cc0e92d9555d174714360505b55fc6e4383d

# Credenciais do dashboard web
ADMIN_USER=admin
ADMIN_PASSWORD=

# Chave secreta para sessões (use: openssl rand -hex 32)
SECRET_KEY=70cf21a0810b185e16b6a5599b4dd8592ede250987e22facb03159c949ae8847

# PostgreSQL
POSTGRES_USER=certmonitor
POSTGRES_PASSWORD=
POSTGRES_DB=certmonitor

# Dias de antecedência para alertas
ALERT_DAYS=30,20,10,7,3,1
